---
import { Image } from "astro:assets";
import Logo from "../../assets/sage_600px.png";
import ShortForm from "../ui/ShortForm.astro";
import call from "../../assets/icons/call.png";
import hours from "../../assets/icons/schedule.png";
import sms from "../../assets/icons/chat.png";
import mail from "../../assets/icons/mail.png";
import facebook from "../../assets/icons/Facebook_Logo_Primary.png";
import yelp from "../../assets/icons/yelp_burst.png";
import google from "../../assets/icons/google.png";

const links = [
  { name: "About us", href: "#about" },
  { name: "Services", href: "#services" },
  { name: "Use Cases", href: "#cases" },
  { name: "Pricing", href: "#testimonials" },
  { name: "Blog", href: "#home" },
];
---

<section class="sm:px-5">
  <div class="no-underline w-full max-w-[1280px] mx-auto">
    <div class="px-[15px] bg-dark text-white py-[10px] lg:px-[60px] rounded-t-[45px]">
      <div>
        {/* GROUP: Logo, Nav */}
        <div class="flex md:flex-row gap-4 justify-between">
          {/* Site Logo */}
          <img class="w-[160px] md:w-[240px] hover:grayscale-100" src="/sage_600px.png" alt="Logo"/>

          {/* Nav Links */}
          <ul class="flex flex-col sm:flex-row sm:gap-4 justify-evenly px-[20px]">
            { links.map((link) => { return (
            <li class="hover:underline text-center">
              <a href="{link.href}"> {link.name} </a>
            </li>
            ); }) }
          </ul>
        </div>

        {/* CONTACT US */}
        <div class="flex flex-col lg:flex-row mt-[66px] mb-[51px]">
          <div class="flex flex-col no-underline font-semibold text-center lg:text-start  w-full lg:w-[30%]">
            <h3 class="mb-5 text-center md:text-left text-2xl text-green">Contact us</h3>
            {/* Email */}
                        
            <div>
              <a class="align-center flex flex-row items-center w-auto gap-2" href="mailto:info@sagetech.support">
                <img class="w-4" src="/icons/mail.png" alt="Email Us" />
                <div class="hidden md:flex">info@sagetech.support</div>
              </a>
            </div>

            {/* Phone */}
            <div>
              <a class="align-center flex flex-row items-center w-auto gap-2" href="tel:5034546438">
                <img class="w-4" src="/icons/call.png" alt="Call Us" />
                <div class="hidden md:flex">(503) 454-6438</div>
              </a>
            </div>

            {/* SMS */}
            <div>
              <a class="align-center flex flex-row items-center w-auto gap-2" href="sms:15034546438">
                <img class="w-4" src="/icons/chat.png" alt="Text Us" />
                <div class="hidden md:flex">(503) 454-6438</div>
              </a>
            </div>

            {/* Hours */}
            <div class="align-center flex flex-row items-center w-auto gap-2">
              <img class="w-4" src="/icons/schedule.png" alt="Our Hours" />
              <div class="hidden md:flex">Monday-Friday 8am-7pm</div>
              <div class="flex md:hidden">M-F 8am-7pm</div>
            </div>

            
          </div>
          <div class="flex-grow my-10 lg:my-0 lg:ml-12">
            <ShortForm />
          </div>

          {/* Social Media Icons */}
          <div class="flex gap-5">
            <a href="https://maps.app.goo.gl/8wiPW2HTwWQB3ZQp9" class="text-decoration-none">
            <img class="w-4" src="/icons/google.png" alt="Our Google Page" /> 
            </a>
            
            <a href="https://www.yelp.com/biz/sage-tech-portland" class="text-decoration-none">
              <img class="w-4" src="/icons/yelp_burst.png" alt="Our Yelp Page" />
            </a>
            <a href="https://facebook.com/sagetechpdx" class="text-decoration-none">
              <img class="w-4" src="/icons/Facebook_Logo_Primary.png" alt="Our Facebook Page" />
            </a>
          </div>
        </div>
      </div>
      <div class="flex text-xs justify-center mt-4 text-center md:mt-0">
        © 2024 Sage Tech LLC. All rights reserved.
      </div>
    </div>
  </div>
</section>
